.product {
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;

    &-backButton {
        width: 200px;
        margin: 0 auto;
    }

    &-item {
        display: flex;
        align-items: flex-start;
        margin-top: 30px;
        // justify-content: center;
        flex-wrap: wrap;
    }
}
